<div class="parent-fragment" th:fragment="parent(content)">  
    <div th:replace="${content}"></div>
</div>

<div th:fragment="test(content1)">
   <div th:replace="${content1}"></div>
   <p>Hi</p>
</div>

<div class="akssh" th:fragment="parent21">
    <h1>Namste india</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti libero consectetur enim provident architecto optio labore sapiente fugit. Eligendi ad quas sunt! Iusto error reprehenderit, ipsa quibusdam cumque nihil dolorem.

    </p>
</div>

<!-- <div th:fragment="test()"></div>
<div class="parent"> 
    <h1>this is fragment content</h1>
    <h6>my name is akash</h6>
    <p>name is like a tiger</p>
</div> -->